body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-image: linear-gradient(45deg, slateblue 0%, blue 100%);
    
}
.withdraw{
    background-image: linear-gradient(45deg, tomato 0%, red 100%);
    
}
.balance{
    background-image: linear-gradient(45deg, green 0%, green 100%);
}